.big-div{
    background: #161616;
    color: #EDEDED;
    padding-top: 20px ;
    padding-bottom: 20px ;
}

.pic-div{
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;

}
.big-div img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;

}
.pic-div .self-center{
    position: relative !important;

}


@media(max-width:1024px){
    .big-div>div{
        column-gap: 3rem;
        width: 80%;
    }
}
@media(max-width:685px){
    .big-div>div{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 80%;
    }
}