.btn-reg{
    width: 134px;
height: 48px;
background: transparent;
border-radius: 4px;
border: 1px solid #F76808;
text-align: center;
justify-items: start;
align-self: center;
font-size: 24px;
}

.btn-reg:hover{
    background: #F76808;
    color: black;

    
}