input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
        -moz-appearance: textfield;
    }


.lab-wall{
    position: relative;
}

@media (max-width: 768px) {
    .btn-wall{
       transform: scale(80%);
       align-items: end;

    }
    .wall-end{
        justify-content: center;
    }
    
 }
@media (max-width: 570px) {
   .wall{
    width: 80%;
   }
    
 }